[Unit]
Description=Live Planet Cloud Stream Ingester (HTTP)
After=multi-user.target syslog.target network.target remote-fs.target nss-lookup.target
Wants=stream-ingester-hookd.service

[Service]
EnvironmentFile=/etc/environment
WorkingDirectory=/opt/stream-ingester
Type=forking
ExecStartPre=/opt/stream-ingester/nginx/sbin/nginx -t
ExecStart=/opt/stream-ingester/nginx/sbin/nginx -c /opt/stream-ingester/etc/stream-ingester-http.conf
Restart=always
RestartSec=5s
StartLimitInterval=0
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=stream-ingester-http

[Install]
WantedBy=multi-user.target