[Unit]
Description=Live Planet Cloud Stream Ingester Hook
After=multi-user.target syslog.target network.target remote-fs.target nss-lookup.target

[Service]
EnvironmentFile=/etc/environment
Environment=LP_STREAMINGESTER_HOOK_CAMERASRPCADDR=cameras-api-internal.default.svc.cluster.local:8081
Environment=LP_STREAMINGESTER_HOOK_USERPROFILERPCADDR=userprofile.default.svc.cluster.local:7001
WorkingDirectory=/opt/stream-ingester
ExecStart=/opt/stream-ingester/bin/stream-ingester-hookd
Restart=always
RestartSec=5s
StartLimitInterval=0
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=stream-ingester-hookd

[Install]
WantedBy=multi-user.target